@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.hero-section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.transition-nav {
    transition: all 0.3s ease-in-out;
}

.fancy-border-gradient {
    position: relative;
}

.fancy-border-gradient::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #F59E0B, #FBBF24, #FBBF24, #F59E0B);
    z-index: -1;
    border-radius: 0.5rem;
}
